.container {
    margin-top: 3%;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
.innerContainer{
  display: flex;
  flex-direction: column;
  background-color:rgb(189, 230, 243);
  min-height: 70;
  max-width: 60%;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px; 
  padding-bottom: 20px;
}

.content {
  flex-grow: 1;
}